body {
  background-color: #090909;
  color: #fff;
  font-family: var(--font);
  font-weight: normal;
  position: relative;
  &.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
