:root {
  //fonts
  --font: 'Helvetica Neue', sans-serif;
  --font-2: 'Philosopher', sans-serif;

  //color

  //gradient

  --gradient: linear-gradient(136deg, #fbf0a2 0%, #d29b50 100%);
}


@mixin text-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}